@model Asp.netCoreMVCIntro.Models.ViewModels.TutorialViewModel

<h1>@Model.title</h1>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>@Model.tutorial.Id</td>
        <td>@Model.tutorial.Name</td>
        <td>@Model.tutorial.Description</td>
    </tr>
</table>
