@model IEnumerable<Tutorial>

@{
    ViewData["Title"] = "Title - Tutorial";
}

<a class="text-dark btn btn-primary mt-3" asp-area="" asp-controller="Tutorial" asp-action="CreateTutorial">Add New Tutorial</a>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var tutorial in Model)
    {
    <tr>
        <td>@tutorial.Id</td>
        <td>@tutorial.Name</td>
        <td>@tutorial.Description</td>
        <td><a class="text-dark btn btn-primary">Edit</a></td>
        <td><a class="text-dark btn btn-danger">Delete</a></td>
    </tr>
    }
</table>
